.product_header a {
  color: black;
}

.product_list {
  padding-bottom: 100px;
}
.product_item {
  display: flex;
  width: 100%;
  margin-top: 25px;
}
.product_item_left {
  padding-left: 100px;
  margin-right: 70px;
}

.product_item_left h3 {
  margin-top: 90px;
}
.product_item_left p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 80px;
  margin-top: 13px;
}
.product_item_right {
  display: flex;
  padding-right: 100px;
}
.product_item_right img {
  max-width: 100%;
  height: auto;
}

.current_product_item {
  margin-left: 30px;
}

.selector_product {
  position: relative;
}
.selector_product .product_item_left {
  /* position: absolute;
  background: url("../../assets/img/product_selector.png") no-repeat; */

  position: relative;
  background: url(../../assets/img/product_selector.png) no-repeat;
  width: 59%;
  z-index: 10;
  top: 95px;
  padding-left: 0;
  margin-left: 100px;
}

.selector_product .product_item_right {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.08);
  z-index: 20;
  border-radius: 10px;
}
