.technical_header a {
  color: black;
}

.service_flow_box {
  height: 677px;
  background: url("../../assets/img/technology_service_bg.png") no-repeat;
  background-size: 100% auto;
  margin-top: 70px;
}

.service_flow_title {
  padding-top: 10px;
}

.service_flow_img {
  height: 213px;
  border: 1px solid red;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-left: none;
  margin-top: 40px;
  margin-bottom: 185px;
}
