@import "./normalize.css";

:root,
body {
  width: 100%;
  height: 100%;
  min-width: 370px;
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Microsoft YaHei",
    "\5FAE\8F6F\96C5\9ED1", "å¾®è½¯é›…é»‘", "Microsoft YaHei UI", "é»‘ä½“",
    "å®‹ä½“", "arial", "sans-serif";
  line-height: 28px;
  overflow-x: hidden;
}

h3 {
  line-height: 38px;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

p {
  color: #666666;
}
.w {
  padding: 0 160px !important;
  /* width: 1200px; */
  margin: 0 auto;
}

/* 产品描述 */
.introduce_box h3 {
  margin-top: 34px;
}
.introduce_line {
  margin: 23px 0 52px 0;
}
.introduce h4 {
  margin-bottom: 12px;
}
.product_params {
  margin-top: 42px;
}
.product_params span {
  margin-right: 20px;
}

/* 产品特性 */
.product_character {
  padding-top: 103px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product_character_title {
  text-align: center;
}
.product_character ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product_character_title_line {
  width: 45px;
  height: 2px;
  background-color: #0250fe;
  margin: 20px auto 64px auto;
}
.product_character ul li {
  position: relative;
  width: 405px;
  height: 190px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 40px;
  margin-right: 64px;
  box-sizing: border-box;
  margin-bottom: 52px;
}
.product_character ul li:nth-child(3n) {
  margin-right: 0;
}
.product_character ul li h3 {
  padding-top: 24px;
  padding-bottom: 16px;
}
.product_character ul li span {
  position: absolute;
  right: 4px;
  bottom: 28px;
  font-size: 68px;
  color: #f7faff;
}
.product_character ul li:hover {
  background: linear-gradient(to left top, #4b82fe, #0250fe);
  color: #fff;
}

/* 通用行业 */
.apply_industry {
  margin-top: 101px;
  background-color: #fff;
}
.product_character_title {
  text-align: center;
}
.apply_industry_img {
  display: flex;
  width: 100%;
  margin-bottom: 55px;
}
.product_character_title_line {
  width: 45px;
  height: 2px;
  background-color: #0250fe;
  margin: 20px auto 64px auto;
}
.apply_industry_img_item {
  position: relative;
  width: 33.33%;
}

.apply_industry_img_item img {
  width: 100%;
  height: auto;
}
.apply_industry_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(0deg 0% 100%);
}
.apply_industry_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(0deg 0% 100%);
}
.apply_industry_title_line {
  width: 45px;
  height: 2px;
  background-color: #fff;
  margin: 33px auto 25px auto;
}

/* 相关案例 */
.related_case {
  background: url("../../../../assets/img/related_case_bg.png");
}
.related_case_title h3 {
  padding-top: 70px;
}
.related_case_line {
  width: 45px;
  height: 2px;
  background-color: #0451fe;
  margin-top: 42px;
  margin-bottom: 47px;
}
.case_list_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.related_case_box {
  margin-top: 0;
}
.case_list_box li:not(:nth-child(3n + 3)) {
  margin-right: 2.5%;
}
.case_list_box li {
  width: 31.5%;
  margin-bottom: 57px;
}

.case_list_box li img {
  max-width: 100%;
  height: auto;
}
.case_item_title {
  position: relative;
  top: -9px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 21px 35px 0 38px;
}
.case_item_title h3 {
  font-size: 18px;
  color: #333333;
}
.case_item_title p {
  font-size: 12px;
  border-bottom: 1px solid #999999ed;
}
.case_more {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.case_more a {
  font-size: 12px;
  color: #999999;
}

/* 产品导航 */
.product_nav {
  height: 80px;
  line-height: 80px;
  background-color: #ffffff;
  text-align: center;
}
.product_nav_container .current_product_active {
  color: #0250fe;
}
.product_nav_container a {
  margin-left: 52px;
  color: #666666;
}

/* 产品模块banner图 */
.product_img {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("../../assets/img/product_bg1.png") no-repeat center center;
}
.product_img_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.product_img_text h3 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 30px;
}
.product_img_text a {
  border-radius: 50px;
  padding: 5px 50px;
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 12px;
}
