.news_list {
  padding: 100px 0;
}

.news_container li {
  display: flex;
  width: 100%;
  margin-bottom: 67px;
}

.news_container li img {
  margin-right: 69px;
}

.list_text p {
  margin: 41px 0 21px 0;
  color: #888888;
}
.list_text_more {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999999;
  color: #999999;
}
