/* 大屏 */

@media screen and (max-width: 1200px) {
  .nav_list ul li:not(:last-child) {
    margin-right: 20px;
  }
  .desc {
    margin-bottom: 7px;
  }
  .clinet ul li:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .company_profile_img {
    top: 15px;
    right: 30px;
    transform: scale(0.75);
  }
  .company_profile_describe {
    margin-right: 469px;
  }
  .w {
    padding: 0 105px;
  }
  .business_scope .company_profile_img {
    top: -81px;
    transform: scale(0.6);
  }

  .business_box li:not(:last-child) {
    margin-right: 30px;
  }
}
