@media screen and (max-width: 992px) {
  .nav_list ul {
    display: none;
  }
  a.toggleMenu {
    display: block;
    width: 32px;
    height: 32px;
  }
  a.toggleMenu img {
    width: 100%;
    height: 100%;
  }

  .company_profile_img {
    top: 10px;
    right: -36px;
    transform: scale(0.65);
  }
  .company_profile_describe {
    margin-right: 513px;
  }
  .success_case_list ul li:not(:last-child) {
    margin-right: 36px;
  }
  .w {
    padding: 0 70px;
  }
  .support_box li:first-child {
    height: 315px;
  }
}

@media screen and (max-width: 962px) {
  .product_nav_container {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .support_box li:first-child {
    height: 255px;
  }
  .support_box li:first-child i {
    display: none;
  }
  .support_box li:first-child p {
    margin: 13px 0;
    padding: 0 15px;
  }
  .support_box li:first-child span {
    margin: 0;
  }

  .news_lable ul li {
    padding: 0 39px;
  }

  .prev,
  .next {
    top: 26.5%;
  }
  .news_body_info .news_time {
    margin: 3px 0;
  }

  .desc {
    line-height: 22px;
    font-size: 14px;
  }

  .news_body_info .look {
    transform: scale(0.8);
  }
  .clinet.w {
    padding: 0 10px;
  }
}

@media screen and (max-width: 850px) {
  .company_profile_describe {
    width: 100%;
    margin-bottom: 25px;
  }
  .company_profile_img {
    position: static;
    width: 100%;
    height: auto;
    transform: scale(1);
  }
  .company_profile_more {
    display: none;
  }

  .business_scope .company_profile_img {
    transform: scale(1);
  }
  .business_box li:not(:last-child) {
    margin-right: 20px;
  }
  .logistics_info_mes .info {
    margin: 0 30px;
  }
  /* .prev,
  .next {
    left: 15.8%;
  } */
  .w {
    padding: 0 50px;
  }
}
