.product_center_header a {
  color: black;
}

/* 产品导航 */
.product_nav {
  height: 80px;
  line-height: 80px;
  background-color: #ffffff;

  text-align: center;
}

.product_nav_container a {
  margin-left: 52px;
  color: #666666;
}

.product_nav_container .current_product_active {
  color: #0250fe;
}

/* 产品图片 */
.product_img {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("../../../../assets/img/product_bg1.png") no-repeat center
    center;
}

.product_img_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.product_img_text h3 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 30px;
}
.product_img_text a {
  border-radius: 50px;
  padding: 5px 50px;
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 12px;
}

.product_center_nav {
  justify-content: flex-end;
}

/* 产品中心-详情  */

.product_center_container {
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.product_center_detail {
  background: url("../../../../assets/img/product_center_bg1.png");
}

.product_center_detail_left {
  padding-left: 100px;
}

.product_center_detail_right {
  width: 100%;
  margin-left: 88px;
}
.product_center_detail_right img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
