.about_header a {
  color: black;
}

.about_header .header_top .heander_content a {
  color: black;
}

/* 关于我们-大图 */
.about_img {
  position: relative;
  width: 100%;
  height: 500px;
}
.about_img img {
  width: 100%;
  height: 100%;
}

.about_text {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}
.about_text h3 {
  font-size: 28px;
}

/* 公司介绍 */
.company_introduce {
  display: flex;
  background: url("../../assets/img/Group\ 74.png") no-repeat;
  background-size: 100% 100%;
}
.company_introduce_left {
  width: 50%;
}
.company_introduce_left h3 {
  margin-top: 203px;
  margin-bottom: 47px;
  color: #0250fe;
}
.company_introduce_right {
  margin-left: 57px;
  width: 50%;
}
.company_introduce_left p {
  color: #888888;
  margin-bottom: 24px;
}

.company_introduce_right h3 {
  margin-top: 93px;
  color: #333333;
  font-size: 36px;
}

.company_introduce_right .company_introduce_right_line {
  margin: 45px 0;
}

.company_introduce_right_img {
  width: 100%;
}
.company_introduce_right img {
  width: 100%;
  height: auto;
}

/* 企业文化 */
.enterprise_culture {
  background: url("../../assets/img/Group\ 86.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 136px;
}

.enterprise_culture_header {
  padding-top: 100px;
  text-align: center;
}
.enterprise_culture_header h3 {
  margin-bottom: 28px;
}

.enterprise_culture_body {
  margin-top: 93px;
}

.enterprise_culture_body ul {
  display: flex;
}
.enterprise_culture_body ul li {
  position: relative;
  width: 25%;
  text-align: center;
  background-color: #efeff1;
  opacity: 0.6;
  border-radius: 10px;
}

.enterprise_culture_body ul li:not(:first-child) {
  margin-left: 45px;
}

.enterprise_culture_body ul li h3 {
  margin-top: 55px;
}
.enterprise_culture_body .enterprise_culture_body_line {
  width: 25px;
  height: 2px;
  color: #888888;
  background-color: red;
  margin: 12px auto 28px auto;
}
.enterprise_culture_body ul li p {
  margin-bottom: 53px;
  padding: 0 20px;
}
.enterprise_culture_body ul li:nth-child(2) {
  background-color: #fff;
  opacity: 1;
  border-bottom: 10px solid hsl(221deg 99% 50%);
}
.enterprise_culture_body ul li:nth-child(2) .enterprise_culture_body_icon {
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.05);
}
.enterprise_culture_body ul li:nth-child(2) p {
  margin-top: 65px;
}

.enterprise_culture_body_icon {
  position: absolute;
  left: 50%;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.enterprise_culture_body .enterprise_culture_body_icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 公司团队&联系我们  */
.team_contact_us {
  padding-bottom: 100px;
}
.team {
  padding: 100px 140px 0 140px;
}

.team_title {
  text-align: center;
}
.team_title_line {
  width: 45px;
  height: 2px;
  background-color: #333333;
  margin: 20px auto 64px auto;
}
.team ul {
  display: flex;
  margin-bottom: 107px;
}
.team ul li {
  width: 25%;
}
.team ul li:not(:last-child) {
  margin-right: 20px;
}

.team ul li img {
  width: 100%;
}

.contact {
  display: flex;
}
.contact .map {
  width: 60%;
}
.contact .map img {
  max-width: 100%;
  height: 100%;
}

.phone {
  width: 40%;
  padding: 57px;
  background-color: #fafbff;
}
.phone_title h3 {
  color: #333333;
}
.phone_title p {
  margin-top: 13px;
  margin-bottom: 37px;
}
.phone ul li i {
  margin-right: 20px;
}
.phone ul li span {
  color: #666666;
}
.phone ul li:not(:last-child) {
  margin-bottom: 25px;
}
