.product_detail_header a {
  color: black;
}

.product_img {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("../../../../assets/img/product_bg1.png") no-repeat center
    center;
}

.product_img_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.product_img_text h3 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 30px;
}
.product_img_text a {
  border-radius: 50px;
  padding: 5px 50px;
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 12px;
}

.product_detaile_nav {
  justify-content: flex-end;
}
.product_introduce {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 99px;
}

.product_introduce_img {
  padding: 38px 10px;
  background-color: #f6f7f9;
  margin-right: 80px;
}

.introduce_box h3 {
  margin-top: 34px;
}

.introduce_line {
  margin: 23px 0 52px 0;
}

.introduce h4 {
  margin-bottom: 12px;
}
.product_params {
  margin-top: 42px;
}
.product_params span {
  margin-right: 20px;
}

/* 产品特性 */
.product_character {
  width: 100%;
  height: auto;
  background: url("../../../../assets/img/product_character.png") no-repeat;
  background-size: 100% 100%;
}

.product_character {
  padding-top: 103px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product_character_title {
  text-align: center;
}
.product_character_title_line {
  width: 45px;
  height: 2px;
  background-color: #0250fe;
  margin: 20px auto 64px auto;
}

.product_character ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product_character ul li {
  position: relative;
  width: 405px;
  height: 190px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 40px;
  margin-right: 64px;
  box-sizing: border-box;
  margin-bottom: 52px;
}
.product_character ul li:nth-child(3n) {
  margin-right: 0;
}

.product_character ul li:hover {
  background: linear-gradient(to left top, #4b82fe, #0250fe);
  color: #fff;
}

.product_character ul li img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.product_character ul li h3 {
  padding-top: 24px;
  padding-bottom: 16px;
}
.product_character ul li span {
  position: absolute;
  right: 4px;
  bottom: 28px;
  font-size: 68px;
  color: #f7faff;
}

/* 适用行业 */
.apply_industry {
  margin-top: 101px;
  background-color: #fff;
}

.apply_industry_img {
  display: flex;
  width: 100%;
}

.apply_industry_img_item {
  position: relative;
  width: 33.33%;
}
.apply_industry_img_item img {
  width: 100%;
  height: auto;
}

.apply_industry_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(0deg 0% 100%);
}

.apply_industry_title_line {
  width: 45px;
  height: 2px;
  background-color: #fff;
  margin: 33px auto 25px auto;
}

/* 相关案例 */
/* .related_case {
  background: url("../../../assets/img/related_case_bg.png");
}

.related_case_line {
  width: 45px;
  height: 2px;
  background-color: #0451fe;
  margin-top: 42px;
  margin-bottom: 47px;
}

.related_case_title h3 {
  padding-top: 100px;
} */
