.header {
  height: 70px;
}

.heander_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 70px;
}

.nav_list {
  font-size: 16px;
}
.nav_list a {
  color: #fff;
}
.nav_list ul {
  display: flex;
}
.nav_list ul li:not(:last-child) {
  margin-right: 50px;
}

/* @media screen and (max-width: 1200px) {
  .nav_list {
    display: none;
  }
} */
