.company_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.08);
}

.company_info_list {
  display: flex;
}

.company_info_list li {
  padding: 20px 0;
}

.company_info_list li:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #999999;
  margin: 0 30px;
}

.company_info_list .company_info_list_active {
  color: #0250fe;
}

.current_position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: all 0.2s;
}

.company_info_list li a {
  color: #333333;
}

.back_home {
  padding: 20px 0;
}

.back_home a {
  display: flex;
  align-items: center;
  color: #999999;
}

.back_home a i {
  display: inline-block;
  width: 19px;
  height: 19px;
}

.back_home a i img {
  width: 100%;
  height: 100%;
}

.back_home a span {
  margin-left: 13px;
}
