.product_paging {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #fafbff;
  margin: 100px 0;
}

.product_paging a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0 13px;
}
.product_paging div:first-child {
  margin-right: 20px;
}

a.current_page {
  background-color: #0a55fe;
  border-radius: 50%;
  color: #fff;
}
.product_paging div:last-child {
  margin-left: 20px;
}
