<link rel="stylesheet" href="../assets/css/common/footer.css">
<footer>
  <div class="footer w">
    <div class="footer_left">
      <h3>
        <img src="./assets/img/logo.png" alt="">
      </h3>
      <ul class="footer_left_list">
        <li>
          <i>
            <img src="./assets/img/footer1.png" alt="">
          </i>
          <span>021-31377512</span>
        </li>
        <li>
          <i>
            <img src="./assets/img/footer2.png" alt="">
          </i>
          <span>lixuguo@gaoruitech.com</span>
        </li>
        <li>
          <i>
            <img src="./assets/img/footer3.png" alt="">
          </i>
          <span>上海市黄浦区会稽路8号新天地国际大厦7层709室</span>
        </li>
      </ul>
    </div>
    <div class="footer_center"></div>
    <div class="footer_right">
      <ul>
        <li class="footer_right_title">产品中心</li>
        <li>条码产品</li>
        <li>RFID产品</li>
        <li>视觉产品</li>
        <li>非标产品</li>
        <li>软件产品</li>
        <li>维修租赁</li>
      </ul>
      <ul>
        <li class="footer_right_title">产品中心</li>
        <li>条码产品</li>
        <li>RFID产品</li>
        <li>视觉产品</li>
        <li>非标产品</li>
        <li>软件产品</li>
        <li>维修租赁</li>
      </ul>
      <ul>
        <li class="footer_right_title">产品中心</li>
        <li>条码产品</li>
        <li>RFID产品</li>
        <li>视觉产品</li>
        <li>非标产品</li>
        <li>软件产品</li>
        <li>维修租赁</li>
      </ul>
      <ul>
        <li class="footer_right_title">产品中心</li>
        <li>条码产品</li>
        <li>RFID产品</li>
        <li>视觉产品</li>
        <li>非标产品</li>
        <li>软件产品</li>
        <li>维修租赁</li>
      </ul>
      <ul>
        <li class="footer_right_title">产品中心</li>
        <li>条码产品</li>
        <li>RFID产品</li>
        <li>视觉产品</li>
        <li>非标产品</li>
        <li>软件产品</li>
        <li>维修租赁</li>
      </ul>
      <ul>
        <li class="footer_right_title">产品中心</li>
        <li>条码产品</li>
        <li>RFID产品</li>
        <li>视觉产品</li>
        <li>非标产品</li>
        <li>软件产品</li>
        <li>维修租赁</li>
      </ul>
    </div>

  </div>
  <div class="footer_bottom">
    上海锆瑞技术设备有限公司版权所有 网站许可证： 沪ICP备20012746号
  </div>
</footer>