<link rel="stylesheet" href="../assets/css/common/header.css">
<link rel="stylesheet" href="../assets/css/global.css">


<div class="header">
  <div class="heander_content ">
    <div class="logo">
      <img src="../../assets/img/about_logo.png" alt="">
    </div>
    <div class="nav_list">
      <ul>
        <li><a href="">首页</a></li>
        <li><a href="./pages/about/about.html" target="_blank">关于我们</a></li>
        <li><a href="./pages/product/product.html" target="_blank">产品中心</a></li>
        <li><a href="./pages/case/case.html" target="_blank">成功案例</a></li>
        <li><a href="./pages/news/news.html" target="_blank">新闻中心</a></li>
        <li><a href="" target="_blank">技术支持</a></li>
      </ul>
      <!-- 移动端导航 -->
      <a href="#" class="toggleMenu">
        <img src="../../assets/img/nav2.png" alt="">
      </a>
    </div>
  </div>
</div>