<link rel="stylesheet" href="../../assets/css/global.css">
<!-- 导航 -->
<div class="company_info">
  <div class="company_nav w">
    <ul class="company_info_list">
      <li><a href="javascript:" class="company_info_list_active">公司介绍</a></li>
      <li><a href="javascript:">企业文化</a></li>
      <li><a href="javascript:">公司团队</a></li>
      <li><a href="javascript:">联系我们</a></li>
    </ul>
    <div class="current_position"></div>
    <div class="back_home">
      <a href="../../index.html">
        <i><img src="../../assets/img/home.png" alt=""></i>
        <span>回到首页</span>
      </a>
    </div>
  </div>
</div>
<script>
  let company_info_list = document.querySelectorAll(".company_info_list li")
  let company_info_list_a = document.querySelectorAll(".company_info_list li a")
  let current_position = document.querySelector(".current_position");
  let current_content_size = 224;
  for (let i = 0; i < company_info_list.length; i++) {
    company_info_list[i].addEventListener("click", function () {
      for (let i = 0; i < company_info_list.length; i++) {
        company_info_list[i].firstChild.className = "";
      }
      this.firstChild.classList.add("company_info_list_active")
      switch (i) {
        case 0:
          current_position.style.width = current_content_size + "px";
          break;
        case 1:
          current_position.style.width = current_content_size + company_info_list[1].clientWidth + "px"
          break;
        case 2:
          current_position.style.width = current_content_size + company_info_list[1].clientWidth + company_info_list[2].clientWidth + "px"
          break;
        case 3:
          current_position.style.width = current_content_size + company_info_list[1].clientWidth + company_info_list[2].clientWidth + company_info_list[3].clientWidth + "px"
          break;
        default:
      }
    });
  }
</script>