<!-- 服务支持 -->
<div class="service_support">
  <div class="w service_support_container">
    <div class="core_business_title">
      <h3>服务支持</h3>
      <p>上海锆瑞设备有限公司拥有大量研究生以上技术开发团队，多名大专以上技术维修和技术支持人员，平均技术经验3年以上，提供点对点和一对一远程或现场技术服务，软件提供技术指导，硬件提供安装，调试，培训和主板级维修服务</p>
    </div>
    <div class="support_list">
      <ul class="support_box ">
        <li>
          <div class="support_content">
            <i></i>
            <span>24小时</span>
            <span class="line"></span>
            <p>点对点远程协助 一对一现场支持 诊断，分析和处理问题</p>
            <a href="#">+</a>
          </div>
        </li>
        <li>
          <div class="support_content">
            <i></i>
            <span>24小时</span>
            <span class="line"></span>
          </div>
        </li>
        <li>
          <div class="support_content">
            <i></i>
            <span>24小时</span>
            <span class="line"></span>
          </div>
        </li>
        <li>
          <div class="support_content">
            <i></i>
            <span>24小时</span>
            <span class="line"></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="cooperation_img">
      <img src="./assets/img/Group 83.png" alt="">
    </div>
  </div>
</div>